{% extends "layout.html" %}

{% block main %}
    <h2>Transaction History</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.symbol }}</td>
                <td>{{ transaction.shares }}</td>
                <td>{{ transaction.price | usd }}</td>
                <td>{{ transaction.transacted }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
